/*======= NAV =======*/

.navbar-default {
  background-color:transparent;
  border:none;
  /*margin-bottom:-50px;*/
}
.restaurante-logo {
  height:20px;
  width:90px;
  background-image:url(../img/name-01.png);
  background-position:center;
  background-size:cover;
}

/*======= CAROUSEL =======*/

.carousel .item {
  height:65vh;
}
.item img {
  min-height:65vh;
}
.logo-background {
  height:70px;
  padding-top:20%;
}
